body {
    font-family: Arial, sans-serif;
    background:
        radial-gradient(ellipse at top, #333333, transparent) no-repeat,
        radial-gradient(ellipse at bottom, #555555, transparent) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c6c6c;
    padding: 10px;

}